table {
  width: 100%;

  td {
    img {
      margin: 10px 0px;
      max-width: 200px;
      max-height: 200px;
    }
    label {
      font-size: 10px;
      vertical-align: top;
      margin-left: 10px;
    }
  }
}

.selected-images-for-video-legend {
  background-color: beige;
  margin-bottom: 16px;
  padding: 1px 5px;
}

.mat-mdc-form-field {
  width: 50%;
  margin-right: 15px;
}

.refresh-button {
  margin-top: 16px;
  float: right;
}

td,
th {
  width: 25%;
}
