# See http://help.github.com/ignore-files/ for more about ignoring files.

# Backend
backend/app/venv
backend/app/.env
backend/**/__pycache__/
backend/app/dreamboard_videos
backend/database.db

# Frontend
frontend/dreamboard/dist
frontend/dreamboard/node_modules
frontend/server/.env
frontend/server/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
**/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
**/.angular/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
**/.DS_Store
**/Thumbs.db

# Git
.git