fastapi==0.115.11
google-cloud-aiplatform==1.95.1
google-cloud-firestore==2.21.0
google-cloud-logging==3.11.4
google-genai>=1.5.0
imageio-ffmpeg==0.6.0
moviepy==1.0.3
opencv-python-headless==4.11.0.86
pydantic_settings==2.8.1
python-multipart==0.0.22
scikit-image==0.25.2
scipy==1.15.2
uvicorn[standard]==0.34.0
