<nav class="navbar navbar-expand-lg sticky-top">
  <div class="header-container">
    <div class="logo-container">
      <img
        src="dreamboard_logo.svg"
        alt="DreamBoard"
        width="90"
        height="90"
        class="d-inline-block"
      />
      <div><span>DreamBoard</span></div>
    </div>

    <div class="log-in-container">
      <div
        id="g_id_onload"
        data-client_id="{CLIENT_ID}"
        data-callback="onGoogleSignIn"
        data-use_fedcm_for_button="true"
        data-auto_select="true"
      ></div>
      <div
        class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    </div>
  </div>
</nav>
