<div class="login-container">
  <div class="center-div">
    <div id="google-signin-button"></div>
    <!-- <div class="or"><span>or</span></div>
    <div class="guest-button">
      <button mat-flat-button (click)="onLogInAsGuest()">
        Continue as Guest
      </button>
      <mat-icon
        aria-hidden="false"
        aria-label="Help"
        fontIcon="help"
        matTooltip="This option will generate a random user id and all stories will be saved under this user."
      ></mat-icon>
    </div> -->
  </div>
</div>
