:host {
    display: block;
    margin-top: 16px;
  }

  .frame-extraction-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  .item-container {
    display: flex;
    align-items: baseline;
  }

  .item-container mat-form-field {
    width: 82%;
  }

  .item-container button {
    margin-left: 12px;
  }

  .extraction-controls {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  mat-form-field {
    margin-right: 8px;
  }

  .video-player-container {
    margin-top: 16px;
  }

  video {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  